{% extends 'navigation_bar.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>SA_Home</title>
</head>

<body>
    {%block content%}
    <div class="container">
    <!-- left container -->
    <div class="arrow-left">
        <img class="left-snap" src="{%static 'left.png'%}" alt="">
    </div>

    
    <div class="banner">
        <img class="banner-image" src="{%static '2.png'%}" alt="">
    </div>

    <!-- right container -->
    <div class="arrow-right">
        <img class="right-snap" src="{%static 'right.png'%}" alt="">
    </div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="image-box">
                <img src="%static 'problem_solving.jpg'%" alt="">
            </div>
            <div class="module-title">
                <h1>  Problem Solving</h1>
            </div>

            <div class="module-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A vel dolorum laboriosam tempore similique quisquam sequi eligendi officiis totam! Dignissimos quia sint natus unde aliquam quaerat repellendus necessitatibus voluptas iste odit, sit, ratione ex et maxime, beatae delectus magni esse aperiam labore ut numquam perspiciatis? Necessitatibus obcaecati voluptatem tempore possimus, impedit expedita reiciendis itaque, exercitationem esse placeat reprehenderit maxime perferendis.
            </div>
        </div>
    
    {%endblock%}


    </body>
</html>